exportPattern("^[[:alpha:]]+")
importFrom("stats", "anova", "cooks.distance", "lm", "pt", "qt", "p.adjust","t.test","wilcox.test", "kruskal.test", "qwilcox","residuals","quantile","dnorm","sd")
importFrom("nlme", "lme")
